/*background*/
.body-bg-color{
    background: $bg-uno;
}

.parrafo-inpar-bg-color{
    background: $bg-dos;
}

.parrafo-par-bg-color{
    background: $bg-tres;
}

.tabla-bg-color{
    background: $bg-tabla;
}