/*footer con media desktop*/
#footer {
  font-family: "Roboto", "sans-serif";
  color: $colorFooter;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $backgroundFooter;
  ul{
    padding: 0rem;
    padding-top: 2rem;
    .redesSociales {
      display: flex;
      justify-content: center;
      list-style: none;
      text-align: center;
      li {
        margin: 1rem;
      }
      a {
        text-decoration: none;
        color: $colorFooter;
        &:hover{
          color: $hoverFooter;
        }
      }
      .titulo {
        text-align: center;
      }
    }
  }
}
