/*imagen del logo*/
.imagenLogo {
  width: 70px;
  height:45px;
}

/*carrusel*/
.carousel-caption {
  color: hsl(58, 100%, 53%);
  text-shadow: 0px 0px 8px #f50019;
}

/*banner de las dsitintas secciones*/
.bannerHistoria {
  height: 100vh;
  background-image: url("../assets/banner/bannerHistoria.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  .bannerTitulo {
    font-size: 1rem;
    color: rgb(218, 218, 245);
    text-shadow: 0px 0px 8px #000;
    @media all and (min-width: 1200px) {
        font-size: 2rem;
    }
  }
}

.bannerEstadio {
  height: 100vh;
  background-image: url("../assets/banner/bannerEstadio.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  .bannerTitulo {
    font-size: 1rem;
    color: rgb(218, 218, 245);
    text-shadow: 0px 0px 8px #000;
    @media all and (min-width: 1200px) {
      font-size: 2rem;
    }
  }
}

.bannerEquipo {
  height: 100vh;
  background-image: url("../assets/banner/bannerEquipo.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  .bannerTitulo {
    font-size: 1rem;
    color: rgb(218, 218, 245);
    text-shadow: 0px 0px 8px #000;
    @media all and (min-width: 1200px) {
      font-size: 2rem;
    }
  }
}

.bannerContacto {
  height: 100vh;
  background-image: url("../assets/banner/bannerContacto.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  .bannerTitulo {
    font-size: 1rem;
    color: rgb(218, 218, 245);
    text-shadow: 0px 0px 8px #000;
    @media all and (min-width: 1200px) {
      font-size: 2rem;
    }
  }
}

/*imagenes de historia*/
.imagenes-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*imagenes del estadio y jugadores*/
.imagenes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
  .imagen {
    padding: 5px 5px 10px 5px;
    margin: 1rem;
    text-shadow: 0px 0px 8px #000;
    color: white;
    &:hover {
      background-color: #212529;
      transform: scale(1, 1);
    }
    .img {
      width: 200px;
    }
    .img-estadio {
      max-width: 100%;
      width: 600px;
    }
    .info {
      text-align: center;
      position: relative;
    }
  }
}

/*vídeo del estadio*/
.videoEstadio {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin-bottom: 2%;
}
