/*titulos con media desktop*/
.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    .tituloPrincipal {
      font-size: 1rem;
      text-align: center;
      @media all and (min-width: 1200px) {
        font-size: 3rem;
      }
    }
  }

  /*titulo h2*/
  h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
  }

