/*colores de nav*/
$colorLinkActivo: #56585b;
$colorLink: #858484;

/*backgrounds*/
$bg-uno: #00529f30;
$bg-dos: #d5fb3a29;
$bg-tres: #ff8a8a21;

/*colores de footer*/
$colorFooter: #b5b5b5;

/*background de footer*/
$backgroundFooter: #000;

/*mapa fuentes*/
$font-weights:(
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    black: 900
);