/*colores de nav*/
$colorLinkActivo: #858484;
$colorLink: #ffffff;

/*backgrounds*/
$bg-uno: #00529f30;
$bg-dos: #d5fb3a29;
$bg-tres: #ff8a8a21;
$bg-tabla: #b7d5f19e;

/*colores de footer*/
$colorFooter: #b5b5b5;
$hoverFooter:#0000ff;

/*background de footer*/
$backgroundFooter: #000;

/*mapa fuentes*/
$font-weights:(
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    black: 900
);